@font-face {
    font-family: "playfair";
    src: url(./assets/font/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: "comorant";
    src: url(./assets/font/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf);
}


body {
    font-family: Arial;
    margin: 0;
    text-align: center;
    background-color: #f5f1e8;
    
}
.header-container{
    background: rgb(1, 1, 44);
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.img-header{
    max-width: 150px;
}
h1 {
    font-family: "playfair", serif;
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    color: rgb(255, 161, 74);
    text-shadow: 5px 5px 3px black;
    letter-spacing: 5px;
    margin: 0;
    padding: 25px;
}
.descritif-container{
    font-family: "comorant", serif;
    background: rgb(1, 1, 44);
    margin: 0;
    padding: 15px;
}
.descritif-container p{
    color: rgb(255, 161, 74);
    text-shadow: 5px 5px 3px black;
    letter-spacing: 3px;
    font-size: 2rem;
}
h2{
    text-align: center;
    font-size: 5rem;
    color: #faa330;
    text-shadow: 5px 5px 3px black;
    margin: 0;
    letter-spacing: 3px;
}
h3{
    font-size: 2rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #faa330;
}
.categorie-container{
    margin: 0;
}

.up-blue {
    background-color: rgb(1, 1, 44); 
    height: 15vh; 
    position: relative; 
}


.categorie {
    margin-top: -12vh; 
    padding: 20px;
    z-index: 10; 
    position: relative; 
}

.recipe-card {
    background-color: white; 
    border-radius: 12px; 
    
}
ul{
    list-style: none;
    display: inline-flex;
    
    margin: 0;
}
li{
    padding: 25px;
    font-size: 2rem;
}
p{
    color: #4e4d4db4;
    letter-spacing: 3px;
    font-size: 1.5rem;
}
input{
   width: 60%;
   margin: 10px;
   border-radius: 25px;
   text-align: center;
   font-size: 2rem;
   padding: 8px;
}


.recette {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
#listeRecettes{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 30px;
}
.recette-card{
    padding: 15px;
    border-radius: 25px;
    box-shadow: -1px -1px 5px 1px rgba(0, 0, 0, 0.644);
    background-image: linear-gradient(160deg, rgba(255, 255, 255, 0.418) 0%, rgba(255, 255, 255, 0.651) 100%);
    margin: 10px;
    
}
.hidden{
    display: none;
}
.cat-item {
    cursor: pointer;
    padding: 5px 10px;
    transition: background 0.3s;
    border-radius: 25px;
    margin: 0 25px;
    margin-top: 15px;
    margin-bottom: 30px;
   
}
.cat-item img{
    border-radius: 25px;
    align-content: center;
    min-height: 200px;
    min-width: 150px;
    text-align: center;
    max-height: 200px;
    max-width: 250px;
}
.cat-item:hover {
    color: rgb(255, 161, 74);
  
    
}
.ingredients-liste p {
    margin: 2px 0; 
    font-size: 0.9em;
}

.instruction {
    font-style: italic;
    color: #e40707;
}




.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6); 
    overflow: auto; 
}


.modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border-radius: 10px;
    width: 80%; 
    max-width: 600px; 
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.close-modal {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover {
    color: black;
}


.recette-card {
    cursor: pointer;
    transition: transform 0.2s;
}

.recette-card:hover {
    transform: scale(1.02); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.item-ingredient {
    font-size: 1.2rem; 
    list-style-type: none; 
    display: block;
}

